---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Project from "../components/Project.astro";
import Experience from "../components/Experience.astro";
import { projects } from "../data/projects";
import { experiences } from "../data/experiences";
---

<Layout title="Kwame-Homepage">
  <div class="body-container">
    <Navigation />
    <div class="content">
      <div class="content-header-container">
        <h1 class="content-header animate__animated animate__fadeInDown">
          Kwame Owusu
        </h1>
        <img
          src="/assets/profile-pic.jpg"
          alt="Profile Picture"
          class="profile-img"
        />
      </div>
      <div class="about animate__animated animate__fadeInUp">
        <p>
          I'm a software engineer refining my craft in programming and design.
        </p>
        <br/>
        <p>
          Interested in systems, especially design systems that balance aesthetics and consistency, 
          and software that remains both beautiful and performant.
        </p>

        <br/>

        <div class="section animate__animated animate__fadeInUp">
          <div class="sub-heading">What I love</div>
          <p>
            I have also cultivated a passion for literature and manga, with <a
              href="https://www.goodreads.com/book/show/7144.Crime_and_Punishment"
              class="link"
              target="_blank"
            >
              <i>Crime and Punishment</i></a
            > by Fyodor Dostoevsky and <a
              href="https://www.viz.com/vagabond"
              class="link"
              target="_blank"><i>Vagabond</i></a
            > by Takehiko Inoue as my favorites.
          </p>
        </div>

        <div class="section animate__animated animate__fadeInUp">
          <div class="sub-heading">Projects</div>
          <div id="projects-grid">
            {projects.map((project) => (
                <Project
                  projectName={project.projectName}
                  projectDesc={project.projectDesc}
                  projectLink={project.projectLink}
                />
              ))}
          </div>
        </div>

        <div>
          <div class="sub-heading">Experience</div>
          {experiences.map((experience) => (
                <Experience
                  expTitle={experience.expTitle}
                  expDesc={experience.expDesc}
                  expLink={experience.expLink}
                  expLogo={experience.expLogo}
                  expIconClass={experience.expIconClass}
                  backgroundColor={experience.backgroundColor}
                  hoverColor={experience.hoverColor}
                />
              ))}
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
<Footer />

<style>
  body {
    color: var(--body);
  }

  .animate__animated.animate__fadeInUp {
    --animate-duration: 1.8s;
  }

  .animate__animated.animate__fadeInUp {
    --animate-duration: 1.5s;
  }

  .content-header-container {
    position: relative;
    display: inline-block; /* Ensures the container size fits the text */
  }

  .content-header {
    font-size: 4rem;
    cursor: pointer;
  }

  .creo-icon{
      width: 100px;
      height: 100px;
  }

  .profile-img {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateX(-50%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in;
  }

  @media (max-width: 900px) {
    .profile-img {
      display: none;
    }
  }

  .content-header:hover + .profile-img {
    opacity: 1; /* Show image on hover */
  }

  .body-container {
    flex: 1;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 650px;
    width: 100%;
  }

  h1 {
    font-family: var(--header-font);
    margin-bottom: 28px;
  }

  p {
    letter-spacing: 0.5px;
    font-size: 1.3rem;
    line-height: 1.75em;
  }

  .about {
    font-size: 1rem;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a.link {
    text-decoration: none;
    color: white;
    position: relative;
    display: inline-block;
  }

  a.link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--grey-600);
    transition: height 0.23s ease;
  }

  a.link:hover::before {
    height: 100%;
    background-color: var(--grey-600);
    z-index: -1;
  }
  .section {
    margin-top: 50px;
  }

  .sub-heading {
    font-family: var(--header-font);
    font-size: 1.3rem;
    line-height: 1.2rem;
    margin-bottom: 24px;
    color: var(--subtext);
  }

  #projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 24px;
    margin-bottom: 30px;
  }

  @media (max-width: 673px) {
    #projects-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .experience {
    padding: 20px;
    border: solid 1px red;
    display: flex;
    flex-direction: column;
    line-height: 1em;
    row-gap: 2em;
  }

  .experience .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .experience .icon {
    align-self: flex-start;
  }

  .icon-img {
    background-color: rgba(129, 82, 247, 0.3);
    height: 50px;
    width: 50px;
    border-radius: 8px;
    margin-right: 16px;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
  }

  .icon-img:hover {
    background-color: rgba(129, 82, 247, 0.67);
  }

  .exp-title {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .exp-description {
    line-height: 1.5em;
    color: var(--subtext);
  }

  @media (max-width: 499px) {
    .experience {
      font-size: 1rem;
    }

    .content-header {
      font-size: 2.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
</style>
